:root {
    --primary-text-color: #22343d;
    --secondary-text-color: #ffffff;
    --accent-text-color: #02897a;
    --font-accent: "Montserrat", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    color: #22343D;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.section {
    padding-top: 45px;
    padding-bottom: 45px;
}

.container {
    width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title-prop {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.5;
}

.description-prop {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

/* features */

.features-title {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-text-color);
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 50px;
}

.features-item {
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.features-item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    color: var(--primary-text-color);
}

.features-item-description {
    line-height: 1.6;
    color: var(--primary-text-color);
}

.features-btn {
    padding: 15px 32px;
    display: block;
    min-width: 173px;
    margin: 0 auto;
}

/* strategies */

.strategies-description {
    width: 470px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.strategies-item-bold-text {
    font-weight: 700;
    line-height: 1.75;
}

.strategies-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
}

/* price */

.price-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
}

.price-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
}

.price-item-cost {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 76px;
    line-height: 1.32;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}

.currency {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: var(--accent-text-color);
}

.period {
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #AFAFAF;
}

.price-inner-item {
    font-family: var(--font-accent);
}

.price-button {
    font-family: var(--font-accent);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    padding: 11px 18px;
    border: none;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    color: var(--secondary-text-color);
    background-color: #02897A;
}
